<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DefaultApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="com.example.bit.workmanager-init"
            android:enabled="true"
            android:exported="false"/>
        <activity
            android:name=".View.Activities.EditUserActivity"
            android:label="@string/title_activity_edit_user"></activity>
        <activity
            android:name=".View.Activities.DepositActivity"
            android:label="@string/title_activity_deposits" />
        <activity
            android:name=".View.Activities.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".View.Activities.RegisterUserSecondStepActivity" />
        <activity android:name=".View.Activities.RegisterUserActivity" />
        <activity android:name=".View.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>